/* Global CSS */

html {
    print-color-adjust: exact;
}

.visible {
    display: flexbox;
}

.hidden {
    display: none;
}

.selected {
    background-color: lightblue;
}

section {
    border: solid 1px black;
}

.selectedoption {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px black;
    cursor: pointer;
}

.unselectedoption {
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px lightgray;
    text-decoration: line-through;
    color: lightgray;
    cursor: pointer;
}

.firstorderdropdown {
    margin-left: 20px;
}

/* End of Global CSS */

section {
    margin: 50px;
    padding: 5px;
}

h4 {
    margin-left: 20px;
    text-decoration: underline;
}

.riskColorHigh {
    background-color: hsla(0, 86%, 69%, 0.3) ; 
    padding: 3px;
    border-radius: 5px;
}

.riskColorModerate {
    background-color: hsla(61, 91%, 65%, 0.3) ; 
    padding: 3px;
    border-radius: 5px;
}

.riskColorLow {
    background-color: hsla(101, 91%, 61%, 0.3) ; 
    padding: 3px;
    border-radius: 5px;
}

a {
    font-size: small;
}

.medicationlistitem {
    list-style-type: none;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: darkgray 1px 1px;
    width: auto;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin: auto;
    padding: 3px;
}

.medicationdiv {
    display: inline-flex;
    text-align: center;
}


.addli {
    list-style-type: none;
    margin: 1px;
}

.removeli {
    margin-left: 5px;
    border: black solid 1px;
    border-radius: 3px;
    cursor: pointer;
    color: red;
    box-shadow: lightgrey 1px 1px;
}

.Rxselectoroption {
    margin-right: 3px;
}

.rightfloat {
    display: inline;
    float:inline-end;
    border: 1px solid black;
}
